body {
    background-color: aqua;
}
.idea-item {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.idea-image {
    display: block;
    width: 150px;
    height: 150px;
}

.star-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: gray;
    cursor: pointer;
}

.star-btn.gold {
    color: gold;
}

.interest-buttons {
    margin-top: 10px;
}