# 기본 설정으로 모든 텍스트 파일의 줄 끝을 LF로 설정
* text=auto

# Windows에서 생성된 파일의 줄 끝을 CRLF로 설정
*.css text eol=crlf
*.js text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
*.svg text eol=crlf

# Unix 시스템에서는 LF로 설정
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.py text eol=lf