{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>개발툴 관리</title>
{% endblock %}

{% block content %}
<div class="tool_list">
    <h2>DevTool List</h2>
    <p style="margin-bottom: 50px;">개발툴 목록 페이지 입니다. 자신이 사용가능한 개발들의 목록을 확인해 보세요.</p>
    {% for devtool in devtools %}
    <div class="tool_list_content">
        <div>
            <a href="{% url 'devTools:detail' devtool.pk %}">
                {{devtool.title}}
            </a>
            <p class="tool_list_p1">{{devtool.type}}</p>
            <p>{{devtool.explain}}</p><br>
        </div>
        <hr>
    </div>
    {% endfor %}
    <footer>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">&lt;</a>
            {% else %}
                <a href="?page=1{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">&lt;</a>
            {% endif %}
            
            <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">&gt;</a>
            {% else %}
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort_by %}&sort_by={{ request.GET.sort_by }}{% endif %}">&gt;</a>
            {% endif %}
        </div>
    </footer>
</div>
{% endblock %}